<header class="main-page">
    <h1>skillsocial</h1>

    <p>display people and events near you</p>
</header>

<div class='near-you'>
    <section class="events-block">
        <h3><a href="/events">Events</a></h3>
        <p>Welding Workshop</p>
        <p>28th Aug 2109</p>
    </section>

    <section class="users-block">
        <h3>People</h3>
        <p>Personal Trainer</p>
        <p>Southbank</p>
    </section>
</div>