<form action="/sessions/new" method='post' class="login-form">
    <h1>Log in</h1>
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name='password'>
    <button>LOG IN</button>
</form>
