<form action="/sessions/new" method='post'>
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name='password'>
    <button>LOG IN</button>
</form>