
<form class="event-form" action="/events/new" method="post">
    <h1>new event form</h1>
    <label for="">Event name</label>
    <input type="text" name="name">
    <label for="">Date DD/MM/YYYY</label>
    <input type="text" name="date">
    <label for="">Time HH:MM</label>
    <input type="text" name="time">
    <label for="">Location</label>
    <input type="text" name="location">
    <label for="">Description</label>
    <textarea name="description"></textarea>
    <button>CREATE EVENT</button>
</form>