

<form class="signup-form" action="/users/new" method="post">
    <h1>sign up page</h1>
    <label for="">email</label>
    <input type="text" name="email">
    <label for="">name</label>
    <input type="text" name="name">
    <label for="">username</label>
    <input type="text" name="username">
    <label for="">password</label>
    <input type="password" name="password">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <label for="">phone</label>
    <input type="text" name="phone">
    <label for="">skills</label>
    <textarea name="skills"></textarea>
    <label for="">interests</label>
    <textarea name="interests"></textarea>
    <button>SAVE</button>
</form>