.event-details-header h1 {
    margin: 1rem auto;
    text-align: center;
}

.event-details {
    background-color: #ffffff;
    padding: 1rem;
}
.event-details h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.event-details img{
    width: 100%;
    margin-bottom: 1rem;
}
.event-details p{
    line-height: 2rem;
    padding: 0 1rem;
}
.event-details a{
    color: #ff3365;
}
.event-details form {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.event-details form > label {
    margin: 0 1rem;
}

.organiser {
    font-size: 1.5rem;
}

.class-roll {
    margin: 2rem;
    background-color: aliceblue;
}

.class-roll h3 {
    display: block;
    text-align: center;
}

.user-details-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.user-details > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

form.rsvp {
    display: flex;
    align-items: center;
    margin: 1rem;

}
.rsvp label {
    padding: 1rem;
}

@media (min-width: 800px) {
    .event-details img {
        max-width: 80%;
        margin: 1rem auto;
        justify-content: center;
        display: flex;
    }
    .event-details h2, .event-details p {
        margin-left: 3rem;
        margin-top: 1rem;
    }
    .event-details form {
        margin-right: 3rem;
    }

}