.events-box, a {
    color: #303030;
    font-size: 1.8rem;
}

.events-header {
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    height: 7vh;
}

.container form {
    text-align: right;
    margin: 1rem auto;
}

.each-event {
    width: 100%;
    background: #ffffff;
    padding: 1rem;
    margin: 1rem auto;
}
.each-event h3{
    font-size: 1.5rem;
    text-emphasis: 700;
}

a .each-event {
    padding: 1rem;  
}

#event-page-img {
    width: 100%;
    max-height: 30vh;
    min-height: 30vh;
    object-fit: cover;
}

@media (min-width: 600px) {
    #event-page-img {
    max-height: 30vh;
    min-height: 30vh;
    }
}


@media (min-width: 800px) {
    .events-box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vw 30vw;
        grid-gap: 12rem 2rem;
      }

    .each-event {
        grid-column: 1 / span 1;
        align-items: center;
        justify-content: center;
    }
    
    #event-page-img { 
        max-height: 20vh;
        min-height: 20vh;
    }
}

@media (min-width: 1000px) {
    #event-page-img { 
        max-height: 30vh;
        min-height: 30vh;
    }
}
@media (min-width: 1200px) {
    #event-page-img { 
        max-height: 40vh;
        min-height: 40vh;
    }
}