* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    height: 100vh;
    background-color: #f1ecec;
}

p {
    font-size: 18px;
}
nav.header {
    background-color: #ff3365;
    color:  white;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
a {
    text-decoration: none;
}
textarea{
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}


.user-info {
    width: 100%;
    margin: 10px auto;
}

.user-info h1 {
    margin: 1rem auto;
    text-align: center;
}

nav.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 1rem 0;
    height: 10vh;
} 

.login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-form > input, .edit-event-form > input, .login-form > label, .edit-event-form > label{
    display: block;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;
}
.signup-form > input, .user-edit > input, .event-form > input, .signup-form > label, .user-edit > label, .event-form > label {
    display: block;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;
}
.login-form > input, .event-form >input, .edit-event-form > input {
    border: 0.5px solid rgb(200, 200, 200);
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-align: left;
}

.signup-form > input {
    border: 0.5px solid rgb(200, 200, 200);
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-align: left;
}

.login-form > button, .rsvp > button, .edit-event-form > button {
    padding: .75rem;
    border: 1px solid #ff3365;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #ffffff;
    color: #ff3365;
    width: 25%;
    margin: 1rem auto;
}

.signup-form, .event-form, .edit-event-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.login-form > h1, .signup-form > h1, .event-form > h1, .edit-event-form > h1 {
    text-align: center;
}


.signup-form > input {
    border: 0.5px solid rgb(200, 200, 200);
    border-radius: 2px;
    padding: 0.5rem;
    text-align: left;
}

.signup-form > button, .event-form > button {
    padding: .75rem;
    border: 1px solid #ff3365;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #ffffff;
    color: #ff3365;
    width: 25%;
    margin: 1rem auto;
}

.signup-form > textarea, .event-form > textarea, .edit-event-form > textarea {
    width: 100%;
    height: 3rem;
    margin: 0.25rem 0 0 0;
    border-radius: 0.25rem;
    border: 0.5px solid rgb(200, 200, 200);
    
}

form button {
    display: inline;    
    padding: .75rem;
    border: 1px solid #ff3365 ;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color:  #ffffff;
    color: #ff3365;
}

@media (min-width: 800px) {
    .login-form, .signup-form > input {
        max-width: 70rem;
    }
}
